.formControl {
  padding: 15px 0;
}

.formControl form {
  display: flex;
  justify-content: center;
  text-align: center;
}

.formControl form input {
  height: 30px;
  margin-right: 10px;
  text-align: center;
}

::placeholder {
  color: #2d3436;
  opacity: .5;
}

.formControl form button {
  height: 30px;
  width: 50px;
  background-color: #74b9ff;
  border: none;
  border-radius: 5px;
}

.formControl form button:disabled {
  background-color: #ccc;
  color:black;
}

.inputRed {
  color: red;
}

.inputDefault {
  color: #000;
}