.todoList {
  display: flex;
  justify-content: space-between;
  margin-top: 5px;
  border-bottom: .5px solid #b2bec3;
  padding: 0 5px;
}

.todoList h3 {
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 800;
  letter-spacing: -1px;
}

.deleteBtn {
  font-size: 20px;
  font-weight: 100;
  color: tomato;
  opacity: .5;
  transition: .5s;
}

.deleteBtn:hover {
  color:red;
  opacity: 1;
  cursor: pointer;
}

.timeOfTodo {
  color: #2d3436;
  opacity: .3;
  letter-spacing: -1px;
  font-size: 20px;
  font-weight: 100;
}